.categories{
    text-align: center;


    div{
        display: inline-block;
        background: rgb(255, 4, 4);
        border-radius: 50px;
        padding: 10px 20px;
        margin-bottom: 25px;
        margin-right: 15px;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 500ms ease;
        font-size: 20px;
        font-weight: 600;

        &:hover{
            border-color: aquamarine;
            transform: scale(1.1);
        }
    }
}

@media only screen and (max-width: 480px) {
    /* Стили для экранов шириной до 480px */
    .categories{
        text-align: center;
    
    
        div{
            /* display:flexbox; */
            width: 100px;
            background: rgb(255, 4, 4);
            border-radius: 10px;
            padding: 15x 15px;
            margin-bottom: 15px;
            margin-right: 10px;
            cursor: pointer;
            border: 1px solid transparent;
            transition: all 500ms ease;
            font-size: 16px;
            font-weight: 100;

    
            &:hover{
                border-color: rgb(255, 255, 255);
                transform: scale(1.1);
            }
        }
    }
}