header {
    position: relative;

    .empty{
        h2{
            font-size: 24px;
            margin:20px auto;
            text-align: center;
        }
    }

    .summa{
        float: left;
        width: 100%;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 20px;
    }

    .icon {
        font-size: 20px;
        margin-right: 10px;

    }

    .logo {
        font-weight: 600;
        font-size: 26px;
    }

    .shopCartButton {
        font-size: 22px;
        float: right;
        cursor: pointer;
        transition: color 500ms ease;

        &:hover,
        &:active {
            color: #f20202;

        }
    }

    .shopCart {
        position: absolute;
        background: #ff0101;
        top: 40px;
        right: 0;
        width: 450px;
        min-height: 100px;
        z-index: 1000;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        padding: 20px;
        padding-bottom: 0;
        border-radius: 10px;
    }

    .nav {
        float: right;
        list-style: none;


        li {
            display: inline;
            margin-left: 25px;
            cursor: pointer;
            font-size: 18px;
            font-weight: 500;
            transition: opacity 500ms ease;

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .presentation {
        margin: 50px 0;
        background: url('../../assets/banner.jpg');
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center center;
        position: relative;
        border-radius: 15px;
        background-repeat: no-repeat;

        &::after {
            content: 'Открой свой Тибет из любой точки мира';
            color: #fff;
            position: absolute;
            top: 150px;
            left: 320px;
            font-size: 33px;
        }

        &::before {
            content: 'Вам понравится';
            color: #fff;
            position: absolute;
            top: 305px;
            left: 480px;
            font-size: 33px;
        }
    }
}

@media only screen and (max-width: 480px) {
    header {
        position: relative;
    
        .empty{
            h2{
                font-size: 24px;
                margin:20px auto;
                text-align: center;
            }
        }
    
        .summa{
            float: left;
            width: 100%;
            font-weight: 600;
            font-size: 22px;
            margin-bottom: 20px;
        }
    
        .icon {
            margin-left: 40px;
            margin-bottom: 0;
            font-size: 45px;
            margin-right: 10px;
    
        }
    
        .logo {
            display: none;
        }
    
        .shopCartButton {
            font-size: 40px;
            color: #ffffff;
            float:right;
        }
    
        .shopCart {
            position: absolute;
            background: #9f1515;
            top: 110px;
            width: 320px;
            min-height: 100px;
            z-index: 1000;
            box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            padding: 20px;
            padding-bottom: 0;
            border-radius: 10px;
        }
    
        .nav {
            display: flex;
            flex-direction: column;
    
    
            li {
                display: inline;
                margin-left: 25px;
                cursor: pointer;
                font-size: 20px;
                font-weight: 200;
                transition: opacity 500ms ease;
    
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    
        .presentation {
            margin: 40px 0;
            margin-bottom: 10px;
            background: url('../../assets/banner.jpg');
            width: 100%;
            height: 350px;
            background-size: cover;
            background-position: center center;
            position: relative;
            border-radius: 15px;
            background-repeat: no-repeat;
    
            &::after {
                content: 'Открой свой Тибет из любой точки мира';
                color: #fff;
                position: absolute;
                top: 95px;
                left: 0px;
                font-size: 30px;
                text-align: center;
            }
    
            &::before {
                content: 'Вам понравится';
                color: #fff;
                position: absolute;
                top: 215px;
                left: 60px;
                font-size: 33px;
            }
        }
    }
    
}